/*form{
    width: 800px;
}
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#descripcion {
  resize: none;
}

#observaciones{
  resize: none;
}

#noCuenta{
  text-transform: uppercase;
}

.nav-link{
  color:white;
}

